<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:security="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	
	<context:component-scan base-package="com.techm.fci.cpf" />
	<http pattern ="/resources/**" security ="none"/>
	<beans:bean id="passwordEncoder" class ="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	<http>
		
		<!-- <intercept-url pattern="/getEmpDetailsByEmpNum" access="denyAll" /> -->
		
		<intercept-url pattern="/role/roleMapping" access="hasRole('SUPER_USER')" />
		<intercept-url pattern="/role/viewRevokeRole" access="hasRole('SUPER_USER')" />
		<intercept-url pattern="/claim/myPendingReq" access="hasRole('CPF_ADMIN')" />
		
		<intercept-url pattern="/claim/actClaimReq" access="hasAnyRole('ADMIN','CPF_ADMIN')" />
		<intercept-url pattern="/claim/approvedReq" access="hasAnyRole('ADMIN','CPF_ADMIN')" />
		<intercept-url pattern="/claim/completedReq" access="hasAnyRole('ADMIN','CPF_ADMIN')" />
		<intercept-url pattern="/claim/assignClaimRequest" access="hasAnyRole('ADMIN','CPF_ADMIN')" />
		
		<intercept-url pattern="/claim/claimHistoryTrail" access="hasAnyRole('USER','ADMIN','CPF_ADMIN')" />
		<intercept-url pattern="/claim/viewClaimReq" access="hasAnyRole('USER','ADMIN','CPF_ADMIN')" />
		
		<intercept-url pattern="/claim/downloadCpfDoc" access="hasAnyRole('SUPER_USER','USER','ADMIN','CPF_ADMIN')" />
		
		<intercept-url pattern="/report/claimReport" access="hasAnyRole('SUPER_USER','ADMIN','CPF_ADMIN')" />		
		
		<intercept-url pattern="/report/cpfSlip" access="permitAll" />
		<intercept-url pattern="/claim/raiseClaimReq" access="permitAll" />
	 	<intercept-url pattern="/claim/saveClaimRequest" access="permitAll" />
	 	<intercept-url pattern="/claim/pendingReq" access="permitAll" />
	 	<intercept-url pattern="/userRegistration" access="permitAll" />
		<intercept-url pattern="/saveRegistrationData" access="permitAll" />
		<intercept-url pattern="/changePasswordSubmit" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="permitAll" />
		
		<form-login login-page="/login" 
			login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password"
			default-target-url="/home"/>
		<access-denied-handler error-page="/accessDenied" />
		<logout logout-success-url="/login?logout" />
		
		<!-- enable csrf protection -->
		<csrf/>
		<headers>
			<!-- <content-security-policy policy-directives="script-src 'self' https://javascripts.example.com; report-uri /csp-report-endpoint/"></content-security-policy> -->
			<xss-protection disabled="false"/>
		</headers>
	</http>

	<beans:bean id="cpfUserDetailsService" class="com.techm.fci.cpf.service.CPFUserDetailsService"/>
	<authentication-manager>
		<authentication-provider user-service-ref="cpfUserDetailsService" >
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>